.row {
  text-align: center;

}

.sign {
  height: 200px;
  padding-top: 2%;
}

.information {
  padding-top: 5%;
}

.landing {
  padding-top: 5%;
  text-align: center;
}

.welcome-text {
  padding-top: 2%;
}

.landing-info {
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  text-align: justify;
}

.footer {
  padding-top: 5%;
  text-align: center;
}

.page-title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.company {
  padding-bottom: 5%;
}

html, body {
  font-family: "Profession", sans-serif;

  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: linear-gradient(-0.25turn, #fff, #8B95C9);
}

/* html {
  overflow-x: initial !important;
} */

body {
  width: 100%;
}

.gallery .row {
  padding-bottom: 2%;
}

.prod {
  font-size: 1.5vw;
  margin: 0
}

.card-title {
  font-size: 3vw;
}

.title {
  font-size: 3vw;
  text-decoration: underline;
}

.flip-card-back a {
  color: white;
  text-decoration: none;
}

.flip-card-back a:hover {
  color: #0bb5f4;
}

.info {
  font-family: "D-DIN", sans-serif;
  margin-bottom: 0;
}

.container{
  width: 33%;
}

.container-fluid .a {
  margin: 0;
}

.product {
  height: auto;
  width: auto;
  align-items: center;
  padding-bottom: 2%;
  margin: 0;
}

.product-type {
  margin-bottom: 0;
  text-decoration: underline;
}

.product-link {
  color: black;
  text-decoration: underline;
  text-align: right;
}

.organic {
  height: 5.5vw;
  width: auto;
  margin: 0;
  padding: 0;
}

.dirt {
  height: 20vw;
  width: auto;
}

.product-info {
  text-align: left;
  font-size: 1.4vw;
}

.product-title {
  font-size: 4vw;
}

.product-row {
  padding-bottom: 5%;
}

.schedule {
  color: black;
  text-decoration: underline;
  padding-top: 5%;
}

.carousel-item {
  margin: 0;
}
